{% extends  'base/base.html' %}

{% block content %}
  <div class="container">
    <div>
      <b>Nombres:</b>
      <span>{{ user.first_name }}</span>
    </div>

    <div>
      <b>Apellidos:</b>
      <span>{{ user.last_name }}</span>
    </div>

    <div>
      <b>Username:</b>
      <span>{{ user.username }}</span>
    </div>

    <div>
      <b>Stripe:</b>
      <span>{{ user.stripe_id }}</span>
    </div>

    <div>
      <b>Plan de suscripción:</b>
      <span>{{ user.plan.capitalize }}</span>
      <a href="/user/subscription">Cambiar de suscripción</a>
    </div>

    <b>Pagos</b>
    <table>
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Monto</th>
        </tr>
      </thead>
      <tbody>
        {% for payment in user.payment_set.all %}
        <tr>
          <td>{{ payment.date }}</td>
          <td>{{ payment.amount }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
